img {
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  &:hover {
     opacity: 0.5;
 // background: rgba(255, 255, 102, 0.9);
  }
}






// li{
//       width: 50%;
//       list-style-type: none;
// }

ul#theBand{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

div#bandSearch{
  height: 20vh;
  background: #C0BFBD;
}

input[type="search"]{
  height: 10vh;
  border: 2px solid white;
  width: 55vw;
  margin-left: 11rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;

}

input#submit{
  width: 10vw;
  height: 10vh;
  right: 4rem;
  bottom: .5rem;
  position: relative;
  font-size: 1.5rem;
  background: #F5DB58;
  color:#A9A9A9;
  font-family: sans-serif;
  margin-left: 5rem;
}

// button{
//   border: 3px;
// width: 3vw;
// height: 4.5vh;
// font-size: 1rem;
// background: #FEFE22;
// border-radius: 0.5rem;
// }


body{
      // background: cadetblue;

background:#46463f;
}

#bandName{
  font-size: 1.5rem;
font-family: sans-serif;
}

form#loginForm{
  margin-left: 30rem;
    margin-top: 15rem;
}


input#password{
  border: 2px solid #5F9EA0;
  text-align: center;
height: 3rem;
width: 20rem;
}

input#username{
  border: 2px solid #5F9EA0;
  text-align:center;
height: 3rem;
width: 20rem;
}

input#loginBtn{
  border: 2px solid #8DABC5;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  color:white;
  font-family: sans-serif;
  margin-left: 5rem;
  background: #8DABC5;
}

input:-webkit-autofill{
  background: white !important;
}

form{
  margin-left: 30rem;
    margin-top: 10rem;
}


input[type="text"]{
  border: 2px solid #5F9EA0;
text-align: center;
height: 3rem;
width: 20rem;
}
input[type="username"]{
  border: 2px solid #5F9EA0;
text-align: center;
height: 3rem;
width: 20rem;
}
input[type="name"]{
  border: 2px solid #5F9EA0;
text-align: center;
height: 3rem;
width: 20rem;
}

input[type="password"]{
  border: 2px solid #5F9EA0;
text-align: center;
height: 3rem;
width: 20rem;
}
input[type="email"]{
  border: 2px solid #5F9EA0;
text-align: center;
height: 3rem;
width: 20rem;
}

h2{
margin-left: 5rem;
color: #4B7995;
font-size: 3rem;
font-family:sans-serif;
}



h2#login{
  margin-left: 5rem;
  color: #4B7995;
  font-size: 3rem;
  font-family:sans-serif;
}

ul#bands{
  display: flex;
flex-wrap: wrap;
}


// .linkChange{
//       width: 100vw;
//    left: 15rem;
//     position: absolute;
//     top: 2rem;
// }


div#navLink{
  position: relative;
  left: 67rem;
  bottom: 4rem;
}


div#navStyle{
  border: 2px solid;
height: 20vh;
width: 39rem;
position: relative;
left: 40.5rem;
}

#topBand{
  text-decoration: none;
margin-right:1rem;
font-size: 2.5rem;
font-family: sans-serif;
color:#46463F;
  &:hover{
      color:#F5DB58;
  }
}

a#search{
  text-decoration: none;
      font-size: 2.5rem;
      font-family: sans-serif;
      margin-right: 1rem;
      color:#46463F;
        &:hover{
          color:#F5DB58;
        }
}

 li{
  width: 33%;
list-style-type: none;
overflow: hidden;
height: 300px;
}


p#bandName{
  position: realative;
  transform: translateY(510%);
      text-align: center;
      color:white;
}




button#signOutBtn{
width: 3vw;
height: 4.5vh;
font-size: 2.5rem;
background: none;
border: none;
color: #46463F;
&:hover{
    color:#F5DB58;
}
}


a#loginBtn{
  font-size: 2.5rem;
    color: #46463F;
    &:hover{
        color:#F5DB58;
    }
}
